DATA CLEANING

In [2]:
import pandas as pd

data = pd.read_csv("../data/all_data.csv")
print(data.head())
print(data.info())
print(data.describe(include="all"))

  Country  Year  Life expectancy at birth (years)           GDP
0   Chile  2000                              77.3  7.786093e+10
1   Chile  2001                              77.3  7.097992e+10
2   Chile  2002                              77.8  6.973681e+10
3   Chile  2003                              77.9  7.564346e+10
4   Chile  2004                              78.0  9.921039e+10
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 4 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           96 non-null     object
 1   Year                              96 non-null     int64
 2   Life expectancy at birth (years)  96 non-null     float64
 3   GDP                               96 non-null     float64
dtypes: float64(2), int64(1), object(1)
memory usage: 3.1+ KB
None
       Country         Year  Life expectancy at birth (years)           GDP
count       96    96.000000                         96.000000  9.600000e+01
unique       6          NaN                               NaN           NaN
top      Chile          NaN                               NaN           NaN
freq        16          NaN                               NaN           NaN
mean       NaN  2007.500000                         72.789583  3.880499e+12
std        NaN     4.633971                         10.672882  5.197561e+12
min        NaN  2000.000000                         44.300000  4.415703e+09
25%        NaN  2003.750000                         74.475000  1.733018e+11
50%        NaN  2007.500000                         76.750000  1.280220e+12
75%        NaN  2011.250000                         78.900000  4.067510e+12
max        NaN  2015.000000                         81.000000  1.810000e+13

Sorting data types in dataset

In [3]:
data['Country'] = data['Country'].astype('string')
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 4 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   Country                           96 non-null     string
 1   Year                              96 non-null     int64
 2   Life expectancy at birth (years)  96 non-null     float64
 3   GDP                               96 non-null     float64
dtypes: float64(2), int64(1), string(1)
memory usage: 3.1 KB
None

Checking for null and atypical values

In [4]:
print(data.columns)
print(data['Country'].value_counts().unique)
print(data['Year'].value_counts().unique)
print(data['GDP'].value_counts().unique)

Index(['Country', 'Year', 'Life expectancy at birth (years)', 'GDP'], dtype='object')
<bound method Series.unique of Country
Chile                       16
China                       16
Germany                     16
Mexico                      16
United States of America    16
Zimbabwe                    16
Name: count, dtype: Int64>
<bound method Series.unique of Year
2000    6
2001    6
2002    6
2003    6
2004    6
2005    6
2006    6
2007    6
2008    6
2009    6
2010    6
2011    6
2012    6
2013    6
2014    6
2015    6
Name: count, dtype: int64>
<bound method Series.unique of GDP
7.786093e+10    1
7.097992e+10    1
6.973681e+10    1
7.564346e+10    1
9.921039e+10    1
               ..
1.209845e+10    1
1.424249e+10    1
1.545177e+10    1
1.589105e+10    1
1.630467e+10    1
Name: count, Length: 96, dtype: int64>

In [5]:
print(data['Life expectancy at birth (years)'].isnull)

<bound method Series.isnull of 0     77.3
1     77.3
2     77.8
3     77.9
4     78.0
      ...
91    54.9
92    56.6
93    58.0
94    59.2
95    60.7
Name: Life expectancy at birth (years), Length: 96, dtype: float64>

Changing column names for convenience

In [7]:
data.rename(columns={'Life expectancy at birth (years)':'Expectancy_in_years'},inplace=True)
print(data.columns)

Index(['Country', 'Year', 'Expectancy_in_years', 'GDP'], dtype='object')

Saving dataset in csv for further use

In [8]:
data.to_csv('../data/clean_data.csv',index=False)